
body{
    text-align: center;
    margin: 0px;
}
#container #header{
    display:flex;
   border-bottom: 1px solid beige;
   width: 100%;
height: 7vw;
background-color: white;
box-sizing: border-box;

vertical-align:top;
}
#container{
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    background-color: rgb(32, 32, 98);
}
#container>div{
    align-items: center;
    box-sizing: border-box;
    width:100%;
    margin: auto;
}
#logo-container{
    display: inline-block;
    padding: 1%;
    box-sizing: border-box;
}
#logo{
    width: 100%;
    display: inline-block;
    object-fit: cover; /* Recorta la imagen sin deformarla */
    object-position: center;
}
#nav-bar{
    display: inline-block;
    box-sizing: border-box;
    padding-top: 1%;
    padding-bottom: 1%;
}
#nav-btn{
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    height:fit-content;
    padding: 1% 1%;

}
#nav-btn button{
    display: flex;
    width: 2vw;
    padding: 1%;
    margin:auto;
    text-align: center;
    align-items: center;
    object-position: center;
    aspect-ratio:1/1;
    border: none;
    border-radius: 0.3vw;
}
#nav-btn img{
    width: 100%;
    object-fit: cover; /* Recorta la imagen sin deformarla */
    object-position: center;
    aspect-ratio:1/1;
}
.offcanvas.offcanvas-start{
    width: 35vw;
}
#container #main{
    display: flex;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding-top: 2vw;
    background-color: rgb(32, 32, 98);
    width: 100%;
    height: calc(100%);
    margin-top: 7vw;
    
}
.card-title{
    text-align: start;
    font-family: system-ui;
}
.card{
    margin-bottom: 4vw;
    background-color: rgb(225, 228, 230);
}
.card-body{
    padding-bottom: 1vw;
}

.btn-primary{
    color: black;
    margin-bottom: 1vw;
    width: 100%;
    background-color: white;
    border: none;
}
.add-card-btn{
    background-color: rgb(225, 228, 230);
    vertical-align:bottom;
    margin-bottom: 1vw;
    cursor: pointer;
    
}
.add-card-btn:hover{
    background-color: rgb(153, 160, 165);
}
.añadir-js{
    width: 100%;
    display: inline-block;

}
.input-div{
    margin-bottom: 1vw;
}

input{
    border:none;
    border-radius: 1vw;
    height: 5vw;
    text-align:start;
    align-items: start;
}
.input-card{
    margin-bottom: 1vw;
    width: 100%;
}
#close-card-btn{
    width: 100%;
    height: 100;
    border: none;
    background-color: inherit;
    display: flex;
    padding: 0%;
    font-weight: bold;
}
.close-add-btn{
    padding-left: 0;
    align-items: start;
    align-items: center;
    display: flex;
}
#new-list{
    background-color: #ffffff3d;
}
a{
    width: auto;
}
p{
    width: 100%;
}

